@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');


// corru.observer custom message styles!!!!!
// BSTRD Font
@font-face {
	// This is literally copypasted from the website, removed the full url due to unknown permissions with neocities/corruworks, font can be found at[https://www.onlygfx.com/newspaper-cutout-font-white-on-black-ttf/], needs to be hosted elsewhere to work 

	// Updated: Now hosted on github.
	font-family: 'bastard';
	src: url('https://tdcoolguy300.github.io/TD.github.io/font/newspaper.woff2') format('woff2'),
		url('https://tdcoolguy300.github.io/TD.github.io/font/newspaper.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Council
li[class*=messageListItem_][data-author-username="!!__COUNCIL__!! ⏣ Overcast Warmth"] {
	div[class*=message_] {
		background: url(https://corru.observer/img/textures/spotgradientinversewhite.gif), url(https://corru.observer/img/local/uncosm/ozo/ozospiral_text.png), white;
		background-position-y: 50%, 50%, 50%;
		background-size: cover, cover, cover;

		border-color: yellow;
		border-style: solid;
		border-width: 1px;

		--header-primary: black;
		--text-normal: black;

		text-shadow: 2px 2px yellow;

		// Don't change the background when hovered 
		&:hover {
			background: url(https://corru.observer/img/textures/spotgradientinversewhite.gif), url(https://corru.observer/img/local/uncosm/ozo/ozospiral_text.png), white !important;
			background-position-y: 50%, 50%, 50% !important;
			background-size: cover, cover, cover !important;
		}
	}

	// Remove the bot tag because i think it looks bad idk man 
	span[class*=botTagCozy_] {
		display: none;
	}

	// Encase the horse in the circle 
	// img[class*=avatar_] {
	// 	border: solid yellow 1px;
	// }
}

// BSTRD and Geli 
li[class*=messageListItem_][data-author-username="!!__BSTRD__!! ⇌ The_Beyond#0093"],
li[class*=messageListItem_][data-author-username="!!__GELI__!! ⏣ Overcast Warmth"] {
	>div[class*=message_] {
		--BSTRD-background: linear-gradient(0deg, rgba(0, 0, 0, 0.79) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0.9) 100%), url(https://corru.observer/img/textures/stun.gif), black;
		--background-secondary: black;
		--background-message-hover: var(--BSTRD-background);
		background: var(--BSTRD-background);
		border-color: #ff0066;
		border-style: solid;
		border-width: 1px;
		--text-normal: #ff0066;
		--header-primary: #ff0066;
		--font-display: bastard
	}
}

li[class*=messageListItem_][data-author-username="!!__BSTRD__!! ⇌ The_Beyond#0093"] {
	div[class*=messageContent_] {
		font-family: bastard;
		font-size: 2.5em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		line-height: 1em;
	}

	span[class*=username_] {
		font-family: bastard;
		font-size: 2em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		line-height: 1em;
	}

	span[class*=botTagCozy_] {
		display: none;
	}
}